<div class="discography__disc">
  <div class="discography__info">
    <span class="discography__year">{{ year }}</span>
    <span class="discography__title">{{ title }}</span>
  </div>
  <div class="discography__details">  
    <span class="discography__about">{{ about }}</span>
    <span class="discography__description">{{ description }}</span>
    <div class="discography__button">
      <span class="discography__button-text">play</span>
    </div>



  </div>
</div>