.l-layout {
  max-width: 1200px;
  margin: 0 auto;
}
.l-wrapper {
  min-width: 400px;
}
.title {
  padding: 0 50px 0 50px;
  position: relative;
  margin-top: 145px;
  letter-spacing: 3px;
  font: 400 50.49px @Dosis;
  text-transform: uppercase;
  color: @color-black;

  @media (max-width: @tabletWidth) {
    font: 400 74.5px @Dosis;
  }

  @media (max-width: @mobileWidth) {
    font: 400 50.49px @Dosis;
    margin-top: 100px;
  }
  @media (max-width: @miniWidth) {
    font: 400 45px @Dosis;
  }
}
.title-decor {
  border-bottom: 1px solid @color-black;
  width: 500px;
  position: absolute;
  top: 33px;
  left: 50%;
  margin-left: -250px;

  @media (max-width: @tabletWidth) {
    top: 47px;
  }
  @media (max-width: @mobileWidth) {
    top: 33px;
  }
  @media (max-width: @miniWidth) {
    top: 28px;
  }
}
.title_discography {
  color: #8f5f50;
}  
.title-decor_discography {

  @media (max-width: @tabletWidth) {
    width: 700px;
    margin-left: -350px;
  }
  @media (max-width: @mobileWidth) {
    width: 500px;
    margin-left: -250px;
  }
  @media (max-width: @miniWidth) {
    width: 360px;
    margin-left: -180px;
  }
}
.title_tours {
  color: #62a2ad;

  @media (max-width: @miniWidth) {
    white-space: nowrap;
    padding: 0;
  }
}
.title-decor_tours {

  @media (max-width: @tabletWidth) {
    width: 700px;
    margin-left: -350px;
  }
  @media (max-width: @mobileWidth) {
    width: 500px;
    margin-left: -250px;
  }  
  @media (max-width: @miniWidth) {
    width: 360px;
    margin-left: -180px;
  }  
}
.title_compositions {

  @media (max-width: @tabletWidth) {
    white-space: nowrap;
    font: 400 65px @Dosis;
  }
  @media (max-width: @mobileWidth) {
    font: 400 50.49px @Dosis;
  }
  @media (max-width: @miniWidth) {
    font: 400 32px @Dosis;
    padding: 0;
  }  
}
.title-decor_compositions {
  width: 614px;
  margin-left: -307px;

  @media (max-width: @tabletWidth) {
    width: 700px;
    margin-left: -350px;
    top: 42px;
  }
  @media (max-width: @mobileWidth) {
    width: 600px;
    margin-left: -300px;
    top: 33px;
  }
  @media (max-width: @miniWidth) {
    top: 21px;
    width: 360px;
    margin-left: -180px;
  }
}
.title_events {
  padding: 0 0 100px 0;
  color: #42717e;

  @media (max-width: @tabletWidth) {
    margin: 0;
    white-space: nowrap;
    font: 400 63px @Dosis;
    width: 555px;
  }
  @media (max-width: @mobileWidth) {
    font: 400 50.49px @Dosis;
  }
  @media (max-width: @miniWidth) {
    font: 400 34px @Dosis;
  }    
}
.title-decor_events {
  margin-left: -305px;

  @media (max-width: @tabletWidth) {
    width: 555px;
    margin-left: -288px;
    top: 41px;
  }
  @media (max-width: @mobileWidth) {
    width: 500px;
    margin-left: -289px;
    top: 33px;
  }
  @media (max-width: @miniWidth) {
    top: 22px;
    width: 320px;
    margin-left: -295px;
  }  
}
.title_history {
  color: #5b5c5a;

  @media (max-width: @mobileWidth) {
    margin-top: 0;
  }
}
.title-decor_history {
  width: 272px;
  margin-left: -136px;

  @media (max-width: @tabletWidth) {
    width: 410px;
    margin-left: -205px;
  }
  @media (max-width: @mobileWidth) {
    width: 270px;
    margin-left: -135px;    
  }
}
.title_contact {
  color: #454545;
  padding: 0;

  @media (max-width: @tabletWidth) {
    padding-bottom: 5px;
    width: 555px;
  }
  @media (max-width: @mobileWidth) {
    width: 500px;
  }
}
.title-decor_contact {
  margin-left: -500px;

  @media (max-width: @tabletWidth) {
    width: 555px;
    margin-left: -270px;
  }
  @media (max-width: @mobileWidth) {
    width: 500px;
    margin-left: -246px;
  }
  @media (max-width: @miniWidth) {
    width: 290px;
  }
}