.l-layout {
  min-width: 350px;
}
.title {
  padding: 0 50px 0 50px;
  position: relative;
  margin-top: 145px;
  letter-spacing: 3px;
  font: 400 50.49px @Dosis;
  text-transform: uppercase;
  color: @color-black;

  @media (max-width: @tabletWidth) {
    font: 400 74.5px @Dosis;
  }
}
.title-decor {
  border-bottom: 1px solid @color-black;
  width: 500px;
  position: absolute;
  top: 33px;
  left: 50%;
  margin-left: -250px;

  @media (max-width: @tabletWidth) {
    width: 740px;
    margin-left: -370px;
    top: 47px;
  }  
}
.title_discography {
  color: #8f5f50;
}
.title_events {
  padding: 0 0 100px 0;
  color: #42717e;
}
.title-decor_events {
  margin-left: -305px;

  @media (max-width: @tabletWidth) {
    width: 680px;
    margin-left: -425px;
  }
}
.title_tours {
  color: #62a2ad;
}
.title-decor_compositions {
  width: 614px;
  margin-left: -307px;

  @media (max-width: @tabletWidth) {
    width: 850px;
    margin-left: -425px;
  }    
}
.title_history {
  color: #5b5c5a;
}
.title-decor_history {
  width: 272px;
  margin-left: -136px;

  @media (max-width: @tabletWidth) {
    width: 410px;
    margin-left: -205px;
  }
}
.title_contact {
  color: #454545;
  padding: 0;

  @media (max-width: @tabletWidth) {
    padding-bottom: 5px;
  }
}
.title-decor_contact {
  margin-left: -285px;

  @media (max-width: @tabletWidth) {
    width: 740px;
    margin-left: -396px;
  }
}