@desktopHDWidth: 1440px;
@desktopWidth: 1024px;
@tabletWidth: 768px;
@mobileWidth: 480px;

@desktopHDWidths: ~"screen and (max-width:" @desktopHDWidth~")";
@desktopWidths: ~"screen and (max-width:" @desktopWidth~")";
@tabletWidths: ~"screen and (max-width:" @tabletWidth~")";
@mobileWidths: ~"screen and (max-width:" @mobileWidth~")";

@color-dark-grey: #606060;
@color-black: #000000;
@color-light-grey: #798285;
@color-white: #ffffff;

