@tabletWidth: 1537px;
@mobileWidth: 750px;
@miniWidth: 680px;

@tabletWidths: ~"screen and (max-width:" @tabletWidth~")";
@mobileWidths: ~"screen and (max-width:" @mobileWidth~")";
@miniWidths: ~"screen and (max-width:" @miniWidth~")";

@color-dark-grey: #606060;
@color-black: #000000;
@color-light-grey: #798285;
@color-white: #ffffff;

