.contact {
  background-image: url("/static/img/hill.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 1010px;

  @media (max-width: @tabletWidth) {
    background-position: left bottom;
    background-size: contain;
    margin-top: 450px;
  }

  &__address {
    font: 400 14px/14px @OpenSans;
    display: block;
    color: @color-light-grey;
    padding-top: 15px;

    @media (max-width: @tabletWidth) {
      font: 400 21px/22px @OpenSans;
    }
  }
  &__inner-wrapper {
    position: relative;
    top: -110px;
    //left: 47%;
    padding: 110px 0 0 0;
    //text-align: left;
    margin-left: 45%;

    @media (max-width: @tabletWidth) {
      //position: relative;
      top: -441px;
      //left: 20%;
      padding: 30px 0 0 0;
      margin-left: 20%;
    }
  }
  &__item {
    font: 400 14px @OpenSans;
    width: 383px;
    height: 25px;
    color: @color-light-grey;
    border-bottom: 1px solid @color-black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 49px;

    @media (max-width: @tabletWidth) {
      font-size: 21px;
      padding-top: 85px;
    }
  }
  &__info {
    @media (max-width: @tabletWidth) {
      margin-top: 15px;
    }
  }
  &__form {
    margin: 33px 115px 0 0;
    display: inline-block;
    width: 385px;

    @media (max-width: @tabletWidth) {
      margin: 33px 100px 0 0;
    }
  }
  &__social {
    border-left: 1px solid @color-black;
    padding-left: 25px;
    display: inline-block;
    //float: right;
    margin: 91px 27px 0 0;
    position: relative;
    top: 37px;

    @media (max-width: @tabletWidth) {
      margin: 120px 27px 0 0;
    }

    &-item {
      font-size: 22px;
      cursor: pointer;
      //display: inline-block;

      @media (max-width: @tabletWidth) {
        font-size: 25px;
      }
    }
    &-item_instagram {
      padding: 62px 0 62px 0;

      @media (max-width: @tabletWidth) {
        padding: 100px 0 100px 0;
      }
    }
  }
  &__button {
    font: 700 20px/80px @OpenSans;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;

    @media (max-width: @tabletWidth) {
      font: 700 29.58px/104px @OpenSans;
    }
  }
}  
input[type="text"]:focus::-webkit-input-placeholder {
  color: @color-light-grey;
}
input[type="text"]:focus {
  outline: none;
}
textarea:focus::-webkit-input-placeholder {
  color: @color-light-grey;
}
textarea:focus {
  outline: none;
}
input[type="text"] {
  background-color: transparent;
}
