<div id="contact" class="contact">
  <div class="contact__inner-wrapper">
    <div class="title title_contact">Contact<div class="title-decor title-decor_contact"></div></div>
    <span class="contact__address">Canada Island, Division No. 23, Unorganized, MB, Canada</span>
    <span class="contact__address">Tel. +1(778) 288 5180</span>
    <div class="contact__info">
      <div class="contact__form">
        <input class="contact__item" type="text" placeholder="Name">
        <input class="contact__item" type="text" placeholder="E mail">
        <input class="contact__item" type="text" placeholder="Message">
      </div>
      <div class="contact__social">
        <div class="contact__social-item"><i class="fa fa-facebook"></i></div>
        <div class="contact__social-item contact__social-item_instagram"><i class="fa fa-instagram"></i></div>
        <div class="contact__social-item"><i class="fa fa-twitter"></i></div>
      </div>
    </div>
    <div class="contact__button">send</div>
  </div>
</div>