<div class="swiper-slide">
  <div class="slider__text-title">{{ title }}</div>
  <div class="slider__text-title">{{ subtitle }}</div>
  <div class="slider__text-about">{{ about }}</div>
  <div class="slider__text-description">{{ description }}</div>
</div>

