<div class="slider swiper-container">
  <div class="swiper-wrapper">
    {{#each items}}
      {{> slider-item}}
    {{/each}}
  </div>
  <div class="swiper-pagination"></div>
  <div class="slider__scroll">
    <span class="slider__scroll-back"></span>
    <span class="slider__scroll-next"></span>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>