<div class="header__menu">
  <ul class="header__menu-nav">
    <li class="header__menu-item"><a href="index.html" class="header__menu-link">About</a></li>
    <li class="header__menu-item"><a href="index.html" class="header__menu-link">Discography</a></li>
    <li class="header__menu-item"><a href="index.html" class="header__menu-link">Concert tours</a></li>
    <li class="header__menu-item"><a href="index.html" class="header__menu-link">Latter compositions</a></li>
    <li class="header__menu-item"><a href="index.html" class="header__menu-link">New tracks</a></li>
    <li class="header__menu-item"><a href="index.html" class="header__menu-link">Upcoming Events</a></li>
    <li class="header__menu-item"><a href="index.html" class="header__menu-link">History</a></li>
    <li class="header__menu-item"><a href="index.html" class="header__menu-link">Contact</a></li>
  </ul>
</div>
