<div class="header__menu">
  <ul class="header__menu-nav">
    <li class="header__menu-item">
      <a href="index.html" class="header__menu-link">About</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#discography" class="header__menu-link">Discography</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#tours" class="header__menu-link">Concert tours</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#compositions" class="header__menu-link">Latter compositions</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#tracks" class="header__menu-link">New tracks</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#events" class="header__menu-link">Upcoming Events</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#history" class="header__menu-link">History</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#contact" class="header__menu-link">Contact</a>
    </li>
  </ul>
</div>
<div class="header__hamburger">
  <a class="header__menu-link" href="javascript:;">
    <img class="header__hamburger-icon" src="static/img/icons/hamburger.png">
  </a>
</div>
