<div class="JS-Menu header__menu" data-menu-params="{'cssElemOpen': 'header__menu_open'}">
  <div class="header__hamburger">
    <a class="header__menu-link header__menu-link_hamburger" href="javascript:;">
      <img class="JS-Menu-Open header__mobile header__mobile_hamburger" src="static/img/icons/hamburger.png">
      <img class="JS-Menu-Close header__mobile header__mobile_cross" src="static/img/icons/menu-cross.png">
    </a>
  </div>  
  <ul class="JS-Menu-Content header__menu-nav">
    <li class="header__menu-item">
      <a href="index.html" class="header__menu-link">About</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#discography" class="header__menu-link">Discography</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#tours" class="header__menu-link">Concert tours</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#compositions" class="header__menu-link">Latter compositions</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#tracks" class="header__menu-link">New tracks</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#events" class="header__menu-link">Upcoming Events</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#history" class="header__menu-link">History</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html#contact" class="header__menu-link">Contact</a>
    </li>
  </ul>
</div>

