.header {
  font: 400 17px @Dosis;
  text-transform: uppercase;
  background-image: url("/static/img/guy.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 950px;
  margin-bottom: -75px;

  @media (max-width: @tabletWidth) {
    text-align: right;
    height: 1700px;
    background-position: center center;
  }  

  &__menu {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
  }
  &__menu-nav {
    list-style-type: none;

    @media (max-width: @tabletWidth) {
      display: none;
    }
  }
  &__hamburger {
    display: none;
  
    @media (max-width: @tabletWidth) {
      display: block;
      padding: 70px 80px 0 0;
    }
  }
  &__menu-link {
    text-decoration: none;
    color: @color-dark-grey;
  }
  &__menu-link:hover {  
    color: @color-black;
    border-bottom: 2px solid @color-black;
    padding-bottom: 4px;
    
    @media (max-width: @tabletWidth) {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  &__menu-item {
    display: inline;
    line-height: 62px;
    margin: 0 20px 0 20px;
  }
}