<div id="history" class="history">
  <div class="history__inner-wrapper">
    <div class="title title_history">History
      <div class="title-decor title-decor_history"></div>
    </div>
    <span class="history__about">In 2008, lead singer Dan Reynolds met drummer Andrew Tolman at Brigham Young University where they were both students. Tolman recruited longtime high school friend Daniel Wayne "Wing" Sermon, who had graduated from Berklee College of Music</span>
    <div class="history__dates">
      <span class="history__line"></span>
      <span class="history__date">mar 16</span>
      <span class="history__line"></span>
      <span class="history__date">apr 11</span>
      <span class="history__line"></span>
      <span class="history__date history__date_active">may 09</span>
      <span class="history__line"></span>
      <span class="history__date">jun 06</span>
      <span class="history__line"></span>
      <span class="history__date">jul 25</span>
      <span class="history__line"></span>
    </div>
   <div class="history__info">Tolman later recruited his wife, Brittany Tolman, to sing backup and play keys.</div>
  </div>
</div>