<div id="tours" class="tours">
  <div class="title title_tours">Concert tours
    <div class="title-decor title-decor_tours"></div>
  </div>
  <span class="tours__about">Before the release of Night Visions, Imagine Dragons made appearances on American radio and television to promote their extended play, Continued Silence and debut single It's Time. The band performed "It's Time" on the July 16, 2012 airing of NBC late-night talk show The Tonight Show with Jay Leno"</span>
  <div class="tours__concert">
    <div class="tours__concert-wrapper">
      <span class="tours__concert-year">03.08.2015</span>
      <span class="tours__concert-title">Smoke + Mirrors Tour</span>
      <span class="tours__concert-about">2015–present</span>
      <span class="tours__concert-description">At Lollapalooza in Sao Paulo, Brazil, the last date on the Into the Night Tour, the band announced a rest, and complemented saying, "This is our last show for a while, and had no better place to end this tour".[51] The conclusion of the Into the Night Tour signaled the end of the Night Visions album cycle. Lead singer Dan Reynolds joked about the end of the Night Visions cycle, saying that "We're always writing on the road, [so] that second album will come, unless we die.</span>
      <div class="tours__button">Buy online</div>
    </div>
  </div>
</div>