.tours {
  text-align: center;

  &__about {
    font: 400 14px/23px @OpenSans;
    display: block;
    width: 46%;
    color: @color-light-grey;
    margin: 0 auto;
    padding: 35px 0 110px 0;

    @media (max-width: @tabletWidth) {
      font: 400 21px/35px @OpenSans;
      width: 80%;
    }        
  }
  &__concert {
    background-image: url("/static/img/waterfall.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 980px;
    text-align: left;

    @media (max-width: @tabletWidth) {
      background-position: 30% top;
      height: 100%;
    } 

    &-year {
      font: 700 14px/33px @OpenSans;
      color: @color-dark-grey;
    
      @media (max-width: @tabletWidth) {
        font-size: 21px;
      }         
    }
    &-title {
      font: 700 14px/33px @OpenSans;
      color: @color-black;
      display: block;
      text-transform: uppercase;
      border-top: 1px solid @color-black;
      margin-bottom: 50px;
      //width: 400px;
      width: 60%;

      @media (max-width: @tabletWidth) {
        font-size: 21px;
        //width: 583px;
        margin-bottom: 110px;
        width: 60%;
        min-width: 155px;
      }               
    }
    &-about {
      font: 400 23px/43px @OpenSans;
      color: @color-black;

      @media (max-width: @tabletWidth) {
        font-size: 34px;
      }                 
    }
    &-description {
      font: 400 14px/23px @OpenSans;
      color: @color-light-grey;
      display: block;
      //width: 675px;
      

      @media (max-width: @tabletWidth) {
        font: 400 21px/35px @OpenSans;
        padding-top: 20px;
        //width: 915px;

      }               
    }
    &-wrapper {
     padding: 330px 40% 0 300px;

      @media (max-width: @tabletWidth) {
        padding: 200px 100px 0 200px;

      }       
    }
  }
  &__button {
    font: 700 14px/55px @OpenSans;
    color: @color-black;
    width: 196px;
    height: 56px;
    cursor: pointer;
    text-align:center;
    box-sizing: border-box;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-top: 35px;
    outline: none;

    @media (max-width: @tabletWidth) {
    width: 290px;
    height: 83px;
    font: 700 21px/84px @OpenSans;
    margin-top: 55px;
    margin-bottom: 60px;
    }        
  }
  &__button:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &__button::after {
    content: "\f105";
    font-family: FontAwesome;
    padding-left: 12px;
  }
}
