.events {
  margin-top: 90px;
  background-image: url("/static/img/bridge.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  height: 1200px;

  @media (max-width: @tabletWidth) {
    margin-top: 150px;
    background-position: 53% bottom;
    height: 100%;
  }
  @media (max-width: @mobileWidth) {
    margin-top: 50px;
    background-position: 41% bottom;
  }

  &__inner-wrapper {
    padding: 100px 0 0 0;
    text-align: left;
    max-width: 30%;
    position: relative;
    top: -54px;
    left: 50%;

    @media (max-width: @tabletWidth) {
      left: 20%;
      max-width: 57%;
    }
    @media (max-width: @mobileWidth) {
      max-width: 75%;
    }
  }
  &__title {
    font: 400 23px @OpenSans;
    color: @color-black;
    padding-bottom: 5px;
    position: relative;

    @media (max-width: @tabletWidth) {
      font-size: 34.57px;
      padding-bottom: 10px;
    }
    @media (max-width: @mobileWidth) {
      font: 400 23px @OpenSans;
    }
  }
  &__title::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid @color-black;
    width: 135px;

    @media (max-width: @tabletWidth) {
      width: 202px;
    }
    @media (max-width: @mobileWidth) {
      width: 132px;
    }
  }
  &__line {
    height: 50px;
    border-left: 1px solid @color-black;
    margin: 10px 0 10px 35px;

    @media (max-width: @tabletWidth) {
      height: 82px;
    }
    @media (max-width: @mobileWidth) {
      height: 51px;
    }

    &_large {
      height: 170px;
      margin-bottom: 20px;

      @media (max-width: @tabletWidth) {
        height: 250px;
      }
      @media (max-width: @mobileWidth) {
        height: 166px;
      }
    }
  }
  &__description {
    font: 400 14px/23px @OpenSans;
    color: @color-light-grey;
    padding: 12px 0 12px 0;

    @media (max-width: @tabletWidth) {
      font: 400 21px/35px @OpenSans;
      padding: 20px 0 12px 0;
    }
    @media (max-width: @mobileWidth) {
      font: 400 15px/23px @OpenSans;
    }
  }
  &__year {
    font: 700 14px/33px @OpenSans;
    color: @color-dark-grey;

    @media (max-width: @tabletWidth) {
      font-size: 21px;
    }
    @media (max-width: @mobileWidth) {
      font: 700 15px/33px @OpenSans;
    }
  }
  &__year_bottom {

    @media (max-width: @tabletWidth) {
      padding-bottom: 15px;
    }
  }
}
