<div id="events" class="events">
  <div class="events__inner-wrapper">
    <div class="title title_events">Upcoming events
      <div class="title-decor title-decor_events"></div>
    </div>
    <div class="events__tour">
      <div class="events__title">Smoke + Mirrors Tour</div>
      <div class="events__description">2-2-15 Hokukoryokuchi, Konohana Ward, 554-0042 Osaka Prefecture Osaka</div>
      <div class="events__line"></div>
      <div class="events__year">01.04.2015</div>
    </div>
    <div class="events__line events__line_large"></div>
    <div class="events__tour">
      <div class="events__title">Smoke + Mirrors Tour</div>
      <div class="events__description">When the last-minute request is for a focus group, it’s usually a sign that the request originated in Marketing. When Web sites are being designed, the folks in Marketing often feel like they don’t have much clout. Even though they’re the ones who spend the most time trying to figure out who the site’s audience is and what they want, the designers and developers are the ones with most of the</div>
      <div class="events__line"></div>
      <div class="events__year">27.05.2015</div>
    </div>    
  </div>
</div>