.events {
  margin-top: 90px;
  background-image: url("/static/img/bridge.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  height: 1200px;

  @media (max-width: @tabletWidth) {
    margin-top: 250px;
    background-position: 39% bottom;
  }

  &__inner-wrapper {
    margin: auto 55%;
    width: 600px;
    padding: 100px 0 0 0;
    text-align: left;

    @media (max-width: @tabletWidth) {
      margin: auto 34%;
      padding: 0;
      width: 826px;
    }
  }
  &__title {
    font: 400 23px @OpenSans;
    color: @color-black;
    padding-bottom: 5px;
    position: relative;

    @media (max-width: @tabletWidth) {
      font-size: 34.57px;
      padding-bottom: 10px;
    }
  }
  &__title::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid @color-black;
    width: 135px;

    @media (max-width: @tabletWidth) {
      width: 202px;
    }
  }
  &__line {
    height: 50px;
    border-left: 1px solid @color-black;
    margin: 10px 0 10px 35px;

    @media (max-width: @tabletWidth) {
      height: 82px;
    }

    &_large {
      height: 170px;
      margin-bottom: 20px;

      @media (max-width: @tabletWidth) {
        height: 250px;
      }
    }
  }
  &__description {
    font: 400 14px/23px @OpenSans;
    color: @color-light-grey;
    padding: 12px 0 12px 0;

    @media (max-width: @tabletWidth) {
      font: 400 21px/35px @OpenSans;
      padding: 20px 0 12px 0;
    }    
  }
  &__year {
    font: 700 14px/33px @OpenSans;
    color: @color-dark-grey;

    @media (max-width: @tabletWidth) {
      font-size: 21px;
    }    
  }
}
