<div id="compositions" class="compositions">
  <div class="l-layout">
    <div class="title title_compositions">latter compositions
      <div class="title-decor title-decor_compositions"></div>
    </div>
    <span class="compositions__about">"It's Time" was released as the lead single from Continued Silence and It's Time, both extended plays preceding Night Visions' release.</span>
    <div class="compositions__playlist">
      {{#each items}}
        {{> compositions-item}}
      {{/each}}
    </div>
  </div>
</div>