.compositions {
  text-align: center;

  &__about {
    font: 400 14px/23px @OpenSans;
    display: block;
    width: 40%;
    color: @color-light-grey;
    margin: 0 auto;
    padding: 25px 0 110px 0;
  }
  &__playlist {
    width: 1200px;
    margin: 0 auto;    
  }
  &__song {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 45px;

    &-year {
      font: 700 14px/33px @OpenSans;
      color: @color-dark-grey;
    }
    &-title {
      font: 700 14px/33px @OpenSans;
      color: @color-black;
      display: block;
      text-transform: uppercase;
      border-top: 1px solid @color-black;
      width: 395px;
    }
    &-about {
      font: 400 23px/43px @OpenSans;
      color: @color-black;
      margin: 20px 0 20px 0;
      display: inline-block;
    }
    &-description {
      font: 400 14px/23px @OpenSans;
      color: @color-light-grey;
      display: block;
    }
    &_reverse {
      flex-flow: row-reverse nowrap;      
    }
  }
  &__column1 {
    text-align: left;
    padding: 30px 20px 0 30px;
    background-color: #f5f6f6;
    box-sizing: border-box;
  }
  &__button {
    font: 700 14px/55px @OpenSans;
    color: @color-black;
    width: 196px;
    height: 56px;
    cursor: pointer;
    text-align:center;
    box-sizing: border-box;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-top: 35px;
    outline: none;
    background-color: #f5f6f6;
  }
  &__button:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &__button::after {
    content: "\f105";
    font-family: FontAwesome;
    padding-left: 12px;
  }  
  &__details {

    &-social {
      font: 400 14px @OpenSans;
      color: #abacac;
      display: inline-block;
      padding: 10px 10px 0 25px;
      vertical-align: bottom;
    }
    &-listeners::before {
      content: "\f027";
      font-family: FontAwesome;
      padding: 0 10px 0 20px;
      font-size: 20px;
      cursor: pointer;
    }
    &-favorite::before {
      content: "\f004";
      font-family: FontAwesome;
      padding: 0 10px 0 20px;
      font-size: 15px;
      cursor: pointer; 
    }
    &-share::before {
      content: "\f14d";
      font-family: FontAwesome;
      padding: 0 10px 0 20px;
      font-size: 15px;
      cursor: pointer;      
    }
    &-discuss::before {
      content: "\f27a";
      font-family: FontAwesome;
      padding: 0 10px 0 20px;
      font-size: 15px;
      cursor: pointer;      
    }
  }
  &__column2 {
    position: relative;
    box-sizing: border-box;
    height: 422px;
  }
  &__column2::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 96.7%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #f5f6f6;
  }
  &__column2_reverse::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 96.7%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #f5f6f6 transparent transparent; 
  }  
  &__listen {
    padding-bottom: 20px;
    box-sizing: border-box;
    font: 400 14px @OpenSans;
    color: @color-white;
    position: absolute;
    bottom: 5px;
    left: 40px;

    &-time_color {
      color: #abacac;
      padding-left: 20px;
    }
    &-start::before {
      content: "\f04b";
      font-family: FontAwesome;
      cursor: pointer;
      padding-right: 20px;     
    }
    &-range {
      vertical-align: middle;
    }
  }
  &__cover {
    width: 600px;
  }
}
input[type=range] {
  -webkit-appearance: none;
  width: 406px;
  height: 2px;
  background-color: #abacac;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #ffffff;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
}
.compositions__song_reverse .compositions__column2::after {
  display: none;
}
.slider {
  background-image: url("/static/img/ocean.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin: 160px 0 160px 0;
  text-align: center;
  padding: 225px 0 85px 0;

  &__text {
    margin: 0 auto;

    &-title {
      font: 400 19px @Dosis;
      color: @color-white;
      text-transform: uppercase;
    }
    &-about {
      font: 400 14px/25px @OpenSans;
      color: @color-light-grey;
      padding: 40px 0 70px 0;
      width: 517px;
      margin: 0 auto;
    }    
    &-description {
      font: 400 14px @OpenSans;
      color: #565e61;
      padding-bottom: 60px;
    }    
  }
  &__dot {
    position: relative;

    &-item {
      border: 1px solid @color-white;
      height: 8px;
      width: 8px;
      border-radius: 4px;
      background-color: transparent;
      cursor: pointer;    
      display: inline-block;
      margin: 0 18px 0 18px;
    }
    &-item:hover {
      background-color: @color-white;
    }
  }
  &__scroll {
    position: relative;

    &-back {
      position: relative;
    }
    &-next::before {
      content: "\f104";
      font-family: FontAwesome;
      font-size: 38px;
      color: @color-black;
      position: absolute;
      top: 67px;
      left: 25px;
      z-index: 3;
    }
    &-next::after {
      content: "\f105";
      font-family: FontAwesome;
      font-size: 38px;
      color: @color-black;
      position: absolute;
      top: 67px;
      right: 25px;
      z-index: 3;
    }
  }
  &__scroll::before {
    content: " ";
    position: absolute;
    top: 180px;
    left: 0;
    margin-top: -180px;
    border-width: 90px;
    border-style: solid;
    border-color: transparent transparent transparent white;
  }
    &__scroll::after {
    content: " ";
    position: absolute;
    top: 180px;
    right: 0;
    margin-top: -180px;
    border-width: 90px;
    border-style: solid;
    border-color: transparent white transparent transparent;
  }
}
