<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Musician</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div class="global-wrapper">
    <div class="l-layout">
      <div class="header">
        {{> modules/menu/menu}}
      </div>
      {{> modules/discography/discography}}
      {{> modules/tours/tours}}
      {{> modules/compositions/compositions}}
      {{> modules/tracks/tracks}}
      {{> modules/events/events}}
    </div>
  </div>
</body>
</html>



