<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Musician</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
</head>
<body>
  <div class="global-wrapper">
    <div class="l-wrapper">
      <div class="header">
        {{> modules/menu/menu}}
      </div>
        <div id="module-discography"></div>
        {{> modules/tours/tours}}
        <div id="module-compositions"></div>
        {{> modules/slider/slider}}
        <div id="module-tracks"></div>
      <div class="l-wrapper">
        {{> modules/events/events}}
        {{> modules/history/history}}
        {{> modules/contact/contact}}
      </div>
    </div>
  </div>
</body>
</html>



